### In this challenge you must analyze demographic data using Pandas. You are given a dataset of demographic data that was extracted from the 1994 Census database. 

Here is a sample of what the data looks like:

In [1]:
import pandas as pd
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

#### You must use Pandas to answer the following questions:

- How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
- What is the average age of men?
- What is the percentage of people who have a Bachelor's degree?
- What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
- What percentage of people without advanced education make more than 50K?
- What is the minimum number of hours a person works per week?
- What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
- What country has the highest percentage of people that earn >50K and what is that percentage?
- Identify the most popular occupation for those who earn >50K in India.

#### How many of each race are represented in this dataset? 
This should be a Pandas series with race names as the index labels.

In [2]:
race_count = df.race.value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

#### What is the average age of men?

In [15]:
men_avg_age = df[df['sex']=='Male']['age'].mean()
round(men_avg_age, 1)

39.4

#### What is the percentage of people who have a Bachelor's degree?

In [18]:
bachelors = len(df[df['education']=='Bachelors'])
total = len(df)
percentage_bachelors = round (bachelors / total * 100, 1)

percentage_bachelors

16.4

#### What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [18]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])] 
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])] 

# percentage with salary >50K
non_perc_higher_ed = len(higher_education[higher_education.salary == '>50K'])
higher_education_rich = round(non_perc_higher_ed / len(higher_education) * 100, 1)

higher_education_rich

46.5

#### What percentage of people without advanced education make more than 50K?

In [19]:
non_perc_lower_ed = len(lower_education[lower_education.salary == '>50K'])
lower_education_rich = round(non_perc_lower_ed / len(lower_education) * 100, 1)

lower_education_rich

17.4

#### What is the minimum number of hours a person works per week (hours-per-week feature)?

In [21]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

#### What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [28]:
min_work = df.loc[(df['hours-per-week'] == 1)]
num_min_work = df.loc[(df['hours-per-week'] == 1) & (df['salary'] == '>50K')]
rich_percentage = round(100 * len(num_min_work) / len(min_work), 1)

rich_percentage

10.0

#### What country has the highest percentage of people that earn >50K?

In [30]:
df2 = df.loc[(df['salary'] == '>50K')]['native-country'].value_counts()
df3 = df['native-country'].value_counts()

highest_earning_country = (df2 / df3).sort_values(ascending = False).index[0]
highest_earning_country

'Iran'

#### Show the percentage of people that earn >50K in `Iran`

In [33]:
riches_iran = (df2 / df3).max()

highest_earning_country_percentage = round (100 * riches_iran, 1)
highest_earning_country_percentage

41.9

#### Identify the most popular occupation for those who earn >50K in India.

In [35]:
india = df.loc[(df['salary']=='>50K') & (df['native-country']=='India')]['occupation']

top_IN_occupation = pd.Series.mode(india)[0]
top_IN_occupation

'Prof-specialty'